<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVM-01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18308DD1207A36AF00E1E310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18308DE9207A36AF00E1E310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18308DF4207A36AF00E1E310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
